body{
    background-image: url('Imagens/fundo.png');
    background-attachment: fixed;
}
#Principal{
    width: 900px;
}

#Menu{
    background-color: #c5c5b2;
    padding: 10px;
}

a{
    font-size: 20px;
    font-weight: bold;
    color: #4b566a;
    text-decoration: none;
    padding: 15px;
}

li{
    color:#4682B4 ;
}
#conteudo{
    background-color: #e8e8d9;
    padding: 10px;
}

#rodape{
    text-align: center;
}
h2{
    color: #4b566a;
}
.img-campanha{
    border: 10px solid #c3c3ae;
}
#cont{
    text-align: center;
    padding: 10px;
}