fieldset{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    padding: 2px;
    cursor: pointer;
}

input[type="text"]{
    width: 20em;
}

textarea{
    width: 20em;
    right: 10em;
}

input{
    margin-right: 0.5em;
}
