#container{
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 800px;
}

#marca{
    height: 200px;
    background: #225992 url('Imagens/cabecalho2.jpg') no-repeat center;
    text-align: center;
    line-height: 100px;
}

#conteudo{
    width: 74%;
    float: right;
}

#conteudo-principal{
    width: 62%;
    float: left;
}

img.img-noticia{
    width: 90%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario{
    width: 34%;
    float: right;
    background: #d1d1d1;
    padding: 5px;
}

#navegacao{
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul{
    list-style: none;
}

#navegacao li a{
    text-decoration: none;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}
