body{
    padding: 0;
    margin: 0;
    background:rgb(211, 209, 209);
}

#layout{
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

#menu{
    background-color: #363636;
}

ul li{
    float: left;
    background-color: #363636;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul a{
    display: block;
    padding: 0 5em;
    line-height: 3em;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

ul a:hover{
    color: black;
    background: white;
}

#slide img{
    width: 100%;
    height: 500px;
}

#catalogo img{
    padding: 200px;
    float: left;
    width: 150px;
}